@media (max-width: 1850px){
    section{
        padding: 0px 200px;
    }
    #navbar{
        padding: 0px 200px;
    }


}

@media (max-width: 1800px){
    h1, .typed{
        font-size: 68pt;
    }
    h2, .h2{
        font-size: 34pt;
    }
    .typed-cursor {
        font-size: 68pt;
    }
    #profile-picture{
        width: 475px;
    }
}

@media (max-width: 1650px){
    h1, .typed{
        font-size: 62pt;
    }
    h2, .h2{
        font-size: 30pt;
    }
    .typed-cursor {
        font-size: 62pt;
    }
    #profile-picture{
        width: 435px;
    }

}

@media (max-width: 1550px){
    h1, .typed{
        font-size: 60pt;
    }

    .typed-cursor {
        font-size: 68pt;
    }
    #profile-picture{
        width: 410px;
    }
    .image-slideshow{
            height: 450px;
    }
}

@media (max-width: 1450px){
    h1, .typed{
        font-size: 55pt;
    }
    h2, .h2{
        font-size: 28pt;
    }
    .typed-cursor {
        font-size: 55pt;
    }
    #profile-picture{
        width: 380px;
    }
}

@media (max-width: 1350px){
    section{
        padding: 0px 150px;
    }
    #navbar{
        padding: 0px 150px;
    }
    h1, .typed{
        font-size: 50pt;
    }
    h2, .h2{
        font-size: 26pt;
    }
    p{
        font-size: 12pt;
    }

    .typed-cursor {
        font-size: 50pt;
    }
    #profile-picture{
        width: 355px;
    }
}

@media (max-width: 1200px){
    body{
        display: block;
    }
    title{
        display: none;
    }
    section{
        height: 100vh;
        justify-content: center;
        flex-direction:column;
    }
    #landing-section, #showcase-preview{
        flex-direction: column-reverse;
    }
    #landing-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-left{
        padding-top:30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .section-right{
        padding-top:30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    h1, .typed{
        font-size: 45pt;
    }
    h2, .h2{
        font-size: 22pt;
    }
    .typed-cursor {
        font-size: 50pt;
    }
    #profile-picture{
        width: 315px;
    }
    .image-slideshow{
        height: 300px;
    }
}

@media (max-width: 900px){
    section{
        padding: 0px 100px;
    }
    #navbar{
        padding: 0px 100px;
    }
}

@media (max-width: 794px){
    section{
        padding: 0px 100px;
    }
    #navbar{
        padding: 0px 100px;
    }
    p{
        padding: 10px 0px 20px 0px;
        }
}

@media (max-width: 650px){
    section{
        padding: 0px 50px;
    }
    #navbar{
        padding: 0px 50px;
    }
}

@media (max-width: 550px){
    section{
        padding: 0px 50px;
    }
    .section-left{
        padding-top:15px;
    }
    .section-right{
        padding-top:15px;
    }
    #navbar{
        padding: 25px 50px;
    }
    h1, h2, h3, h4, h5 ,h6{
        padding-bottom: 10px;
    }
    h1, .typed{
        font-size: 32pt;
    }
    h2, .h2{
        font-size: 18pt;
    }
    h4{
        font-size: 12pt;
    }

    .typed-cursor {
        font-size: 32pt;
    }
    #profile-picture{
        width: 250px;
    }
    #logo{
        height: 25px;
    }
    .image-slideshow{
        height: 300px;
    }
    .button-orange{
        padding: 15px 30px;
        font-size: 14pt;
    }
}

@media (max-width: 400px){
    .image-slideshow{
        height: 250px;
    }
    p{
        font-size: 10pt;
    }
    .button-orange{
        padding: 10px 20px;
        font-size: 12pt;
    }
}

@media (max-width: 350px){
    .image-slideshow{
        height: 200px;
    }
    p{
        font-size: 9pt;
    }
}