@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #121212;
    --color-white: #fafafa;
    --color-black: #121212;
    --color-accent-1: #ffb38b;
    --color-accent-2: #2d5f72;
    --color-active: #34aada;
}

::-webkit-scrollbar{
    background: #e4e4e4;
    width: 10px;

}

::-webkit-scrollbar:hover{
    background: #e4e4e4;
    width: 13px;
}


::-webkit-scrollbar-thumb{
    background: linear-gradient(var(--color-accent-1), var(--color-accent-2));
    /* background: var(--color-accent-2); */
    border: 2px solid var(--color-white);
    border-radius: 50px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 12pt;
    color: var(--color-white);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-white);
}


section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 300px;
}


.one{
    background-color: var(--color-white);

}

.two{
    background: linear-gradient(0deg, var(--color-accent-1), var(--color-white));
}

.three{
    background-color: var(--color-accent-1);
}

h1, .h1{
    font-size: 72pt;
}

.typed-cursor {
    font-size: 72pt;
    position: relative;
    top: -0.1em;
}


h2, .h2{
    font-size: 36pt;
}

.text-weight-light{
    font-weight: 300;
}

.color-accent{
    color: var(--color-accent-1);
}


#logo{
    fill: var(--color-white);
}



#navbar{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    padding: 0px 300px;
}

.navbar-color-change{
    background-color: var(--color-white);
}


li{
    list-style: none;
    padding: 10px 0px;
    display: flex;
    align-items:center;
}


.navbar-items{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    transform: translateX(100%);
}
.navbar-items li{
    opacity: 0;
    display: flex;
    justify-content: center;
}

.navbar-links > li:last-child{
    padding-bottom: 20px;
}


.social-media{
    padding-top: 15px;
    opacity: 100;
    border-top: 3px solid var(--color-accent-1);
    display:flex;
}



.social-media > li > a > svg:hover{
    transform:rotate(360deg);
}


.navbar-items > div > li > a{
    font-size: 18pt;
}

.navbar-active{
    transform: translateX(0%);
}



.burger{
    display: block;
    cursor: pointer;
}

.burger.navbar-active {
    display: block;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.3s ease;
}



a{
    position: relative;
    text-decoration: none;
    display: flex;
    align-items:center;
    transition: 0.3s;
}

.active, :target {
    color: var(--color-active);
}

.navbar-links a::after{
    content: "";
    position: absolute;
    background-color: var(--color-accent-1);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar-links a:hover::after{
    width: 100%;
    transition: 0.3s;
}

a:hover{
    color: var(--color-accent-1);
    transition: 0.3s;
}





#profile-picture{
    width: 500px;
    filter: drop-shadow(10px 10px 20px #12121246);
}

.icons{
    position: relative;
    width: 50px;
    border-radius: 50%;
    fill: var(--color-white);
    transition: 0.5s;
}

.icons:hover{
    position: relative;
    width: 50px;
    border-radius: 50%;
    fill: var(--color-accent-1);
    transition: 0.5s;
}


#canvas{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
    background: linear-gradient(-90deg, #1c2b32, #2b5263, #2d5f72,#2b5364);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.lock-scroll{
    overflow: hidden;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes navbar-item-fade{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


